# Python compiled files
*.pyc

# PyCharm config folder
.idea/*

# Local environment settings
.env

# Virtualenvs
Challenge 1/ch1/*
Challenge 2/ch2/*
Challenge 3/ch3/*
Challenge 4/ch4/*
Challenge 5/ch5/*
Challenge 6/ch6/*
Challenge 7/ch7/*
Challenge 8/ch8/*
Challenge 9/ch9/*
Challenge 10/ch10/*

# Skipped challenges
Challenge 6/*
Challenge 9/*
